<div class="container mt-4 conversation-container">

  <%= link_to "←", root_path, class: "btn btn-back mb-3" %>

  <%# <h1 class="conversation-title mb-3">
    <%= @conversation.title.presence || "Deixe-nos te ajudar a decidir!" %>
  <%# </h1> %> 

  <div class="conversation-box border rounded p-3">

    <% if @messages.any? %>
      <% @messages.each do |message| %>
        <p class="message-line mb-2">
          <strong class="message-role"><%= message.role == "user" ? "Você" : "SnapBite" %>:</strong>
          <%= simple_format(message.content) %>
        </p>
      <% end %>
    <% else %>
      <p class="text-muted mb-3">
        Gostaria de sugestões?
      </p>
    <% end %>

    <%= form_with model: [@conversation, @message], local: true, html: { class: "message-form" } do |f| %>
      <div class="mb-2">
        <%= f.label :content, "Sua mensagem", class: "form-label custom-label" %>
        <%= f.text_area :content, rows: 2, class: "form-control message-input" %>
      </div>

      <%= f.submit "Enviar", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
